<ng-container *ngIf="listData$ | async as list">
  <ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5" *ngFor="let item of list">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="assets/images/user.png" alt="go away" />
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{ item.name }}</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ item.client }}</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <div *ngIf="!item.client" class="mt-1 flex items-center gap-x-1.5">
          <div class="flex-none rounded-full bg-emerald-500/20 p-1">
            <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
          </div>
          <p class="text-xs leading-5 text-gray-500">Online</p>
        </div>
        <p class="text-xs leading-5 text-gray-500">{{ item.timestamp.toDate() | date : 'medium' }}</p>
      </div>
    </li>
  </ul>
</ng-container>
