.vehicles-layout {
  padding: 15px;
  border: 1px #ddd solid;
  border-radius: 8px;
}

.vehicles-divider {
  border-top: 1px #ddd solid;
  width: 100%;
  padding-bottom: 15px;
  margin-left: 10%;
  width: 90%;
}
