<app-layout-toolbar
  [toolbarSettings]="toolbarSettings"
  [searchControl]="searchControl"
  [hasSearchValueControl]="hasSearchValueControl"
  [actionsControl]="actionsControl"
  [entityStatusControl]="entityStatusControl"
  [entityStatusList]="entityStatusList"
  [searchFieldList]="searchFieldList"
  [searchControlInitialValue]="searchControlInitialValue"
></app-layout-toolbar>
<app-client-list
  [hasSearchValueControl]="hasSearchValueControl"
  [entityStatusControl]="entityStatusControl"
  [searchControl]="searchControl"
  [actionsControl]="actionsControl"
></app-client-list>
